@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-bg: #000000;
    --white-bg: #fff;
    --accent-color: #BA83FF;
    --border-color:#2323236b;

    --button-hover:#bb83ffd3;
    --button-bl-hover:#000000c5;

    --font-normal-size:16px;

    --border-normal-radius:7px;
}


.other-body{
    margin: 25px 150px 0 150px;
}
@media (min-width: 300px) and (max-width: 1500px) {
.other-body{
    margin: 25px 30px 0 30px;
}
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mini-icon{
    width: 16px;
    aspect-ratio: 1;
    margin-left: 5px;
}

.navbar-container{
    margin: 0 0 0 60px;
}
.sidebar-container{
    display: none;
}
#sideMenu {
    position: fixed;
    top: 80px;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;

    display: flex;
    flex-direction: column;
    text-align: left;
    transition: left 0.3s ease;
    padding: 50px;
  }
  #sideMenu a{
    color: #000000;
    margin-top: 20px;
    text-decoration: none;
  }
  #menuButton {
    top: 20px;
    left: 20px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
  }
  
  #menuButton img {
    width: 30px;
    height: auto;
  }
@media (min-width: 300px) and (max-width: 1500px) {
    .navbar-container{
        display: none;
    }
    .sidebar-container{
        display: flex;
    }
}

.buttons-container{
    display: flex;
    margin-left: auto;
}


.navbar-container .navbar-items{
    text-decoration: none;
    color: var(--black-bg);
    margin: 0 30px 0 30px;
    font-size: 16px;
    padding: 5px;
    
    &:hover{
        color: var(--accent-color);
    /* border-bottom: 2px solid #BA83FF;
    padding: 5px; */
    }
}

.navbar-items[aria-current="page"]{
    text-decoration: none;
    color: var(--black-bg);
    margin: 0 30px 0 30px;
    font-size: 16px;
    border-bottom: 2px solid var(--accent-color);
    padding: 5px;
}

.personal-account{
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    display: flex;

    background-color: var(--black-bg);
    color: var(--white-bg);

    border-radius: var(--border-normal-radius);

    &:hover{
        background-color: var(--button-bl-hover);
    }
}

.order-button{
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 30px;
    display: flex;
   

    background-color: var(--accent-color);
    color: var(--white-bg);

    border-radius: var(--border-normal-radius);
    align-items: center;

    &:hover{
        background-color: var(--button-hover);
    }
}
.icon-buttons-order{
    display: none;
}
@media (min-width: 300px) and (max-width: 860px) {
    .buttons-container{
        display: none;
    }
    .icon-buttons-order{
        display: flex;
        margin-left: auto;

    }
    .order-button{
        margin-right: 10px;
    }
}

.registration {
    background-color: white;
    box-shadow: 0 0 50px 0 #0000008e;
    width: 580px;
    height: fit-content;
    padding: 60px;

    margin: 130px auto; 
    border-radius: 20px;
}

.registration h1{
    text-align: center;
    margin-bottom: 52px;
}

.registration .form-field{
    width: 100%;
    height: 56px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: var(--border-normal-radius);

    border: 1px solid #23232380;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.checkbox-container p{
    margin-left: 10px;
}

.registration-button{
    width: 100%;
    height: 60px;
    border: none;
    border-radius: var(--border-normal-radius);
    background-color: var(--accent-color);
    color: var(--white-bg);
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 16px;

    &:hover{
        background-color: var(--button-hover);
    }
}

.create-account{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    width: 100%;
    height: 60px;
    border: none;
    border-radius: var(--border-normal-radius);
    background-color: var(--black-bg);
    color: var(--white-bg);
    margin-bottom: 20px;
    cursor: pointer;

    &:hover{
        background-color: var(--button-bl-hover);
    }
}

.authorization {
    background-color: white;
    box-shadow: 0 0 50px 0 #0000008e;
    width: 580px;
    height: fit-content;
    padding: 60px;

    margin: 130px auto; 
    border-radius: 20px;
}

.authorization h1{
    text-align: center;
    margin-bottom: 52px;
}

.authorization .form-field{
    width: 100%;
    height: 56px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: var(--border-normal-radius);

    border: 1px solid #23232380;
}
@media (min-width: 530px) and (max-width: 670px) {
    .authorization,.registration {
        width: 480px;
        height: fit-content;
        padding: 40px;
    
        margin: 130px auto; 
        border-radius: 20px;
    }
    
}
@media (min-width: 300px) and (max-width: 530px) {
    .authorization {
        width: 300px;
        height: fit-content;
        padding: 20px;
    
        margin: 130px auto; 
        border-radius: 20px;
    }
    .authorization, h1{
        font-size: 24px;
        margin-bottom: 32px;
    }
    .authorization .form-field{
        height: 40px;
    }
    .registration-button,.create-account{
        height: 40px;
    } 
    .authorization{
        font-size: 12px;
    }
}
@media (min-width: 300px) and (max-width: 530px) {
    .registration{
        font-size: 12px;
        width: 300px;
        height: fit-content;
        padding: 20px;

        margin: 130px auto; 
        border-radius: 20px;
    }
    .registration h1{
        font-size: 24px;
        margin-bottom: 32px;
    }
    .registration .form-field{
        height: 40px;
    }
}

/* order*/
.orders-conyainer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}
.sort-container{
    display: flex;
    justify-content: space-between;
}
.sort-items{
    display: flex;
}
.sort-items input{
    width: 140px;
    height: 50px;
    border-radius: var(--border-normal-radius);

    font-size: var(--font-normal-size);
    border: 1px solid var(--border-color);

    padding: 10px;
    margin-right: 10px;
}
.sort-button{
    width: 140px;
    height: 50px;
    border-radius: var(--border-normal-radius);

    font-size: var(--font-normal-size);
    color: var(--white-bg);
    background-color: var(--black-bg);
    border: none;

    padding: 10px;
    margin: 20px 10px 0 0;
    cursor: pointer;

    &:hover{
        background-color: var(--button-bl-hover);
    }
}

.search-items{
    display: flex;
    position: relative;
    display: inline-block;

    margin-top: 20px;
}

.search-items input{
    width: 520px;
    height: 50px;

    border-radius: var(--border-normal-radius);
    border: .5px solid var(--border-color);
    padding: 0 0 0 23px;

    font-size: var(--font-normal-size);
}
@media (min-width: 300px) and (max-width: 580px) {
    .search-items input{
        width: 300px;
    }
}
.search-items button{
    width: 50px;
    aspect-ratio: 1;

    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--border-normal-radius);
    &:hover{
        background-color: var(--button-hover);
    }
    
}
@media (min-width: 300px) and (max-width: 1036px) {
    .sort-container{
        flex-direction: column;
    }
}

table{
    margin-top: 25px;
    text-align: center;

    font-size: var(--font-normal-size);
}
table th{
    background-color: #EDEDED;

    padding: 18px 0 18px 0;
}
table td{
    padding: 26px 0 26px 0;
}
tr:nth-child(odd) {
    background-color: #F8F8F8;
  }
  
  tr:nth-child(even) {
    background-color: white;
}
@media (min-width: 300px) and (max-width: 1150px) {
    table{
        margin-top: 25px;
        text-align: center;
    
        font-size: 12px;
    }
    table th{
        padding: 9px 0 9px 0;
    }
    table td{
        padding: 13px 0 13px 0;
    }
}

/*viewing an order*/

.view-oder{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    margin: 45px 0 250px 0;
}
.control-buttons a{
    background-color: var(--black-bg);
    color: var(--white-bg);

    padding: 15px;
    margin-right: 20px;

    border-radius: var(--border-normal-radius);
    text-decoration: none;

    &:hover{
        background-color: var(--button-bl-hover);
    }
}
.number-order{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 30px;

    align-items: center;
}
.number-order button{
    padding: 15px;

    border: none;
    border-radius: var(--border-normal-radius);
}
.edit-button{
    background-color: var(--black-bg);
    color: var(--white-bg);

    margin-right: 20px;

    &:hover{
        background-color:var(--button-bl-hover);
        cursor: pointer;
    }
}
.save-button{
    background-color: var(--accent-color);
    color: var(--white-bg);

    &:hover{
        background-color:var(--button-hover);
        cursor: pointer;
    }
}
.blanks-container{
    display: flex;
    flex-wrap: wrap;
}
.blanks-items{
    margin-top: 40px;
    width: 50%;
}
.info-container{
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}
@media (min-width: 600px) and (max-width: 1070px) {
    .info-container{
        flex-wrap: wrap;
    }
    .info-items{
        width: 50%;
    }
}
@media (min-width: 300px) and (max-width: 600px) {
    .info-container{
        flex-direction: column;
    }
}
.blanks-items p{
    font-weight: bold;
    margin: 30px 0 10px 0;
}
.info-container p{
    font-weight: bold;
}
.info-container input, select{
    width: 250px;
    height: 40px;

    border-radius: var(--border-normal-radius);
    border: 1px solid var(--border-color);
    font-size: var(--font-normal-size);

    padding: 5px;
    margin-top: 10px;
}
.blanks-items input{
    width: 415px;
    height: 40px;

    border-radius: var(--border-normal-radius);
    border: 1px solid var(--border-color);

    padding: 10px;
    font-size: var(--font-normal-size);
}
.blanks-items textarea{
    width: 415px;
    max-width: 415px;

    border-radius: var(--border-normal-radius);
    padding: 10px;
    font-size: var(--font-normal-size);
}
@media (min-width: 300px) and (max-width: 930px) {
   .blanks-container{
    flex-direction: column;
   }
}
@media (min-width: 300px) and (max-width: 460px) {
    .blanks-items textarea{
        width: 350px;
    }
    .blanks-items input{
        width: 350px;
    }
    .control-buttons a{
        padding: 10px;
        margin-right: 10px;
    }
    .number-order button{
        padding: 10px;
    }
}
/*Сделать заказ*/
.make-order-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 160px auto; 

    max-width: 720px;
    height: fit-content;
}
.title-container{
    height: fit-content;
    text-align: center;
}
.title-container h1{
    margin-bottom: 20px;
}
.rate-container{
    margin-top: 45px;
}
fieldset {
    display: flex;
    border: none;
    flex-wrap: wrap;
    justify-content: center;
}
fieldset label{
    margin: 10px 10px 0 0;
}

.rate-items {
    width: 230px;
    height: 100px;
    padding: 10px;

    border: 2px solid var(--border-color);
    border-radius: var(--border-normal-radius);

    transition: border-color 0.3s; 
}

.rate-items p{
    font-size: 12px;
}

.rate-check:checked + .rate-items {
    /* background-color: var(--accent-color);
    color: var(--white-bg);
    border: none; */
    border-color: var(--accent-color)
}
.rate-check {
    display: none;
}
.order-weight{
    margin-top: 45px;
}
.weight-items{
    width: fit-content;
    padding: 10px;

    border: 2px solid var(--border-color);
    border-radius: var(--border-normal-radius);

    transition: border-color 0.3s; 
}
.weight-check:checked + .weight-items {
    border-color: var(--accent-color)
}
.weight-check{
    display: none;
}

.data-container{
    display: flex;
    flex-direction: column;

    margin-top: 45px;
}
.data-items{
    margin-top: 45px;
}
.data-items .data-area{
    width: 100%;
    height: 60px;

    padding: 10px;
    margin-top: 20px;

    font-size: var(--font-normal-size);
    border-radius: var(--border-normal-radius);
    border: 1px solid var(--border-color);
}

.data-items textarea{
    color: var(--black-bg);
    max-width: 100%;
    width: 100%;

    margin-top: 20px;

    border-radius: var(--border-normal-radius);
    border: 1px solid var(--border-color);
}

.input-with-button {
    width: 100%;

    position: relative;
    display: inline-block;
}

.input-with-button a {
    position: absolute;
    top: 0;
    right: 0;
    

    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
    color: var(--white-bg);
    background-color: var(--accent-color);
    border-radius: var(--border-normal-radius);

    &:hover{
        background-color: var(--button-hover);
    }
}
.save-address-book{
    width: 16px;
    aspect-ratio: 1;
    margin-top: 20px;
} 

.checkbox-save{
    display: flex;
    align-items: center;
}
.checkbox-save p{
    margin: 20px 0 0 10px;
}

.data-items button{
    width: 100%;
    height: 50px;

    margin-top: 20px;

    background-color: var(--accent-color);
    color: var(--white-bg);
    border: none;
    border-radius: var(--border-normal-radius);
    cursor: pointer;
    font-size: var(--font-normal-size);

    &:hover{
        background-color: var(--button-hover);
    }
}

/*address-book*/
.address-book{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}
.address-book .search-items{
   margin-top: 50px;
   margin-left: auto;
}
.table-icon{
    width: 25px;
    aspect-ratio: 1;
}

/*Modal window*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}

.modal .search-items{
    display: flex;
    
}
.modal .search-items input{
    margin-left: auto;
}

.modal-content {
    height: 840px;
    width: 80%;
    background-color: #fefefe;

    margin: 2% auto;
    padding: 20px;
    border-radius: var(--border-normal-radius);

    display: flex;
    flex-direction: column;

}
.close {
    width: fit-content;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;

    margin-left:auto ;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

    
}

.modal-table-container{
    width: 100%;
    max-height: 800px;
    overflow: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    margin-top: 10px;
}


/*Home page*/
.container-title{
    background: rgb(226,211,230);
    background: linear-gradient(82deg, rgba(226,211,230,1) 0%, rgba(245,244,243,1) 50%, rgba(247,230,198,1) 100%);
    height: fit-content;
    border-radius: var(--border-normal-radius);

    display: flex;
    flex-direction: column;
    /* align-items: center; */


    margin-top: 50px;
}
.content-title{
    margin: 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    padding: 50px;
}

.content-title h1{
    font-size: 42px;
    font-weight: 300;

    margin-bottom: 20px;
}

.content-title button{
    width: 185px;
    height: 50px;
    background-color: var(--black-bg);
    border: none;
    color: var(--white-bg);
    border-radius: var(--border-normal-radius);
    cursor: pointer;
    margin-top: 40px;
    &:hover{
        background-color: var(--button-bl-hover);
    }
}

.title-items{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
   align-items: flex-end;

   margin-bottom: 50px;
}

.images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.images-title p{
    margin-left: 5px;
}
.images-title img{
    animation: blink 1s infinite alternate;
}
@keyframes blink {
    0% {
        opacity: 0; 
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1; 
    }
}
@media (min-width: 600px) and (max-width: 720px) {
    .content-title{
        padding: 30px;
    }
    .content-title h1{
        font-size: 24px;
        font-weight: 300;
    }
    .content-title p{
        font-size: 12px;
    }
    .outside-image{
       width: 150px; 
    }
    .content-title button{
        width: 130px;
        height: 30px;
    }
}
@media (min-width: 300px) and (max-width: 600px) {
    .content-title{
        padding: 20px;
    }
    .content-title h1{
        font-size: 24px;
        font-weight: 300;
    }
    .content-title p{
        font-size: 12px;
    }
    .outside-image{
       width: 100px; 
    }
    .content-title button{
        width: 130px;
        height: 30px;
    }
    .images-title img{
        width: 16px;
    }
}

.container-delevery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0 100px 0;

    height: fit-content;
}
.container-delevery h1{
    font-weight: 300;
}
@media (min-width: 300px) and (max-width: 1160px) {
    .container-delevery img{
        width: 367px;
        height: 309px;

        margin-top: 20px;
    }
    .container-delevery h1{
        font-size: 26px;
        
    }
}
@media (min-width: 300px) and (max-width: 800px) {
    .container-delevery{
        flex-direction: column;
    }
}
.delevery-items{
    width: 50%;
}


.container-advantages{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    text-align: center;
}
.container-advantages h1{
    width: 80%;
    margin-bottom: 45px;
    

    font-weight: 300;
}

.advantage-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: var(--white-bg);

    box-shadow: 0 0 10px 0 #3030308e;
    border-radius: 20px;

    width: 32%;
    height: fit-content;
    padding: 15px;
    margin-top: 40px;
}

.block h3{
    margin-bottom: 20px;
}

.block-number{
    width: 48px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    color: var(--white-bg);
    font-size: 26px;
    background-color: var(--accent-color);
    border-radius: var(--border-normal-radius);

    align-items: center;

    margin-bottom: 40px;
}
.text-info{
    margin-bottom: 20px;
}
@media (min-width: 300px) and (max-width: 720px) {
    .advantage-blocks {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
    .block{
        width: 100%;
    }
    .text-info{
        display: none;
    }
}

.button-submit-application{
    width: 33%;
    height: 50px;
    background-color: var(--accent-color);
    font-size: var(--font-normal-size);
    border-radius: var(--border-normal-radius);
    border: none;
    color: var(--white-bg);
    cursor: pointer;

    margin-top: 45px;

    &:hover{
        background-color: var(--button-hover);
    }
}

.container-feedback{
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
}
.feedback-title{
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-bottom: 45px;
}
.feedback-items{
    max-width: fit-content;
}

.feedback-form {
    display: flex;
    flex-direction: column;
}
.feedback-form input{
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-normal-radius);
    font-size: var(--font-normal-size);

    margin-bottom: 20px;
    padding: 10px;
}

.submit-application{
    height: 50px;
    color: var(--white-bg);
    background-color: #232332;
    border-radius: var(--border-normal-radius);
    border: none;
    font-size: var(--font-normal-size);
    &:hover{
        background-color: var(--button-bl-hover);
    }
}

.feedback-form textarea{
    max-width: 520px;
    height: 150px;
    max-height: 150px;
    padding: 10px;

    font-size: var(--font-normal-size);
    border-radius: var(--border-normal-radius);
}

.feedback-form .checkbox-container p{
    margin-top: 15px;
}


.footer-container{
    width: 100%;
    height: 235px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--white-bg);
    background-color:#232323;

    margin-top: 150px;
    padding: 30px;
}

.container-contacts{
    display: flex;
    flex-direction: row;
}
.contact-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-right: 50px;
}


.contact-items h2{
    font-weight: 300;
}
.contact-items a{
    color: var(--white-bg);
    text-decoration: none;

    &:hover{
        color: var(--accent-color);
    }
}
.footer-logo{
    width: 30%;
    /* margin-right: auto; */
    display: flex;
    flex-direction: column;
}
.footer-logo a{
    color: var(--white-bg);
    margin-top: 20px;
    &:hover{
        color: var(--accent-color);
    }
}
@media (min-width: 300px) and (max-width: 730px) {
    .footer-container{
        margin-top: 150px;
        padding: 15px;
        height: fit-content;
        align-items: center;

        flex-direction: column;

    }
    .contact-items{
        margin-right: 15px;
    }
    .container-contacts{
        margin: 20px 0 20px 0;
    }
    .contact-items h2{
        margin-bottom: 10px;       
    }
    .contact-items a{
        margin-bottom: 5px;       
    }
    .footer-logo a{
        display: none;
        
    }
    
}

.windowModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}

.modal-cntainer {
    height: fit-content;
    width: fit-content;
    background-color: #fefefe;

    margin: 10% auto;
    padding: 30px;
    border-radius: var(--border-normal-radius);

    display: flex;
    flex-direction: column;
}

#modal2{
    margin-bottom: 20px;
}